<a href="https://colab.research.google.com/github/southjohn64/data_mine/blob/main/Copy_of_HW_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework Assignment 1
### [The Art of Analyzing Big Data - The Data Scientist’s Toolbox](https://www.ise.bgu.ac.il/labs/fire/lectures.html)
#### By Dr. Michael Fire

For this homework you will need to write code that analyzes real-world datasets. The code needs to be written in Python using the [sqlite3](https://docs.python.org/2/library/sqlite3.html) package. 

**Please note:** You need to answer only the questions that match your ID first digit.

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import json
import os

# Installing the Kaggle package
!pip install kaggle 

#Important Note: complete this with your own key - after running this for the first time remmember to **remove** your API_KEY
#api_token = {"username":"<Insert Your Kaggle User Name>","key":"<Insert Your Kaggle API key>"}


# creating kaggle.json file with the personal API-Key details 
# You can also put this file on your Google Drive
#with open('/root/.kaggle/kaggle.json', 'w') as file:
#  json.dump(api_token, file)
!mkdir /root/.kaggle/
!cp /content/drive/MyDrive/kaggle.json  /root/.kaggle/kaggle.json
!chmod 600 /root/.kaggle/kaggle.json

Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2021.5.30)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.62.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (5.0.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)

# 1. Babies Names Dataset (35pt)

**Task 1 (for everyone):** Write a code that uses the  [**babies names dataset** ](https://www.kaggle.com/kaggle/us-baby-names?select=NationalNames.csv) (use NationalNames.csv) and creates a table named (Names) with the dataset data and the following columns: 'State', 'Gender', 'Name', 'Count' , and 'Year' (5pt)
**Bonus:** Load the data using a Batch INSERT SQL Query (2pt)

In [ ]:
# Creating a dataset directory
!mkdir ./datasets
!mkdir ./datasets/us-baby-name

# download the dataset from Kaggle and unzip it
!kaggle datasets download kaggle/us-baby-names -f StateNames.csv -p ./datasets/us-baby-name/
!chdir ./datasets/us-baby-name/
!unzip ./datasets/us-baby-name/StateNames.csv.zip  -d ./datasets/us-baby-name

Downloading StateNames.csv.zip to ./datasets/us-baby-name
 79% 24.0M/30.5M [00:00<00:00, 49.3MB/s]
100% 30.5M/30.5M [00:00<00:00, 77.1MB/s]
/bin/bash: chdir: command not found
Archive:  ./datasets/us-baby-name/StateNames.csv.zip
  inflating: ./datasets/us-baby-name/StateNames.csv

**Task 2 (for everyone):** Write a query that returns the statistics for the name Mary (5pt). Use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run (5pt). **Bonus:** [Create an index](https://www.w3schools.com/sql/sql_create_index.asp)  on the _Name_ column and use the [the timeit package](https://docs.python.org/3/library/timeit.html) to measure the time it takes the query to run with the index (5pt)

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 4 +1**) </span>

In [ ]:
# which question to answer - put your ID number and run the code 
your_id  = "<fill_your_id>"
q = int(your_id) % 4 + 1
print("You need to answer question number %s" % q)

***Question 1:*** Write a function that returns how many babies were born in a given state in a given year.
Use it to calculate the number of babies born in TX in 1986 (10pt)

***Question 2:*** Write a function that returns how many female babies were born between a given range of years.
Use it to calculate how many babies were born between 1988 and 1995  (10pt)

**Question 3:** Write a function that returns the most common female name in a given state. Use it to calculate the most common female name in Wasington in 1987 (10pt)

**Question 4:** Write a function that returns how many male babies named _Robert where born in a given state in a given year. Use it to find the state in which the highest number of babies _Robert_ where born in 2010 (10pt)

**Question (for everyone):** For the state of CA write code that calculates the second most popular female/male names in each decade (10pt). **Bonus**: Visualize it somehow using Matplotlib (5pt)

# 2. Flavors of Cacao Dataset (15pt)

Using the [Flavors of Cacao](https://www.kaggle.com/rombikuboktaeder/choco-flavors) dataset, answer the following questions:

In [ ]:

!kaggle datasets list -s flavors

In [3]:
# download the dataset from Kaggle and unzip it
!kaggle datasets download abhishekpatel/flavors-of-cacaocsv  -f flavors_of_cacao.csv -p ./datasets/flavors_of_cacao/

Downloading flavors_of_cacao.csv to ./datasets/flavors_of_cacao
  0% 0.00/125k [00:00<?, ?B/s]
100% 125k/125k [00:00<00:00, 48.2MB/s]

In [4]:
import sqlite3
import matplotlib
import matplotlib.pyplot as plt
import os
import csv
%matplotlib inline
DB_PATH = './datasets/flavors_of_cacao/flavors_of_cacao.csv'

In [5]:
conn = sqlite3.connect('flavors_of_cacao.db')

In [6]:
c = conn.cursor()
c.execute('''CREATE TABLE Cacao (Company text, Bean_Originor text, REF int, ReviewDate int, CocoaPercent real, CompanyLocation text, Rating int, BeanType text, BroadBeanOrigin text)''')
c.close() # close the cursor

In [7]:
insert_records = "INSERT INTO Cacao (Company, Bean_Originor, REF, ReviewDate, CocoaPercent, CompanyLocation, Rating, BeanType, BroadBeanOrigin) VALUES(?, ?,?, ?,?,?,?,?,?)"

In [8]:
file = open(DB_PATH)
contents = csv.reader(file)

records = []
row_num = 0
for row in contents:
    if row_num > 0:
        records.append((row[0], row[1], row[2], row[3], float(row[4].strip('%')) , row[5], row[6], row[7], row[8]))
    else:
        print(row)
    row_num += 1
records[0]

['Company\xa0\n(Maker-if known)', 'Specific Bean Origin\nor Bar Name', 'REF', 'Review\nDate', 'Cocoa\nPercent', 'Company\nLocation', 'Rating', 'Bean\nType', 'Broad Bean\nOrigin']

('A. Morin',
 'Agua Grande',
 '1876',
 '2016',
 63.0,
 'France',
 '3.75',
 '\xa0',
 'Sao Tome')

In [9]:
# load bulk
c = conn.cursor()
c.executemany(insert_records, records)
#c.commit()
c.close() # close the cursor

**Question 1:** Write a function that returns the number of bars manufactured where the bars' BroadBean Origin is a given country. Use the function to calculate the number of bars where BroadBean Origin is 'Fiji' (15pt)

In [10]:
def bars_by_country(broad_bean_origin):
  c = conn.cursor()  
  rows = c.execute("""SELECT SUM(REF) FROM Cacao WHERE BroadBeanOrigin= "{broad_bean_origin}" """.format(broad_bean_origin= broad_bean_origin)).fetchone()
  c.close()
  return rows[0]
bars_by_country('Fiji')

8898

**Question 2:** Write a function that returns the maximal and average cocoa percentage in a bar manufactured by a company in a specific country. Use the function to calculate the minimal and average cocoa percentage in bars manufactured by a Swiss company (15pt).

In [11]:
def cocoa_percent(country):
  c = conn.cursor()  
  rows = c.execute("""SELECT Company, MIN(CocoaPercent), AVG(CocoaPercent) FROM Cacao WHERE CompanyLocation= "{country}" group by  Company""".format(country= country)).fetchall()
  i = 1
  for r in rows:
    print(f"{i}. {r[0]}, {str(r[1])},  {str(r[2])}")
    i += 1
  c.close()
  return rows
cocoa_percent('Swiss')

[]

**Question 3:** Calculate the second most common bean type(s) and the most rare bean type(s) (15
pt)

In [12]:
def common_bean_type():
  c = conn.cursor()  
  rows = c.execute("""SELECT BeanType, SUM(REF) FROM Cacao WHERE  BeanType <> '\xa0' group by  BeanType order by SUM(REF) DESC """).fetchall()
  rare_index = len(rows)
  i = 1
  for r in rows:
    if i ==2:
      print(f"second common: {r[0]}, {r[1]}")
    if i == rare_index:# last one is the most rare !
      print(f"most rare: {r[0]}, {r[1]}")
      
    i += 1
  c.close()
  return rows
common_bean_type();

second common: Criollo, 136979
rare: Criollo (Wild), 56

**Question 4:** Calculate the number of reviews and the average rating in each year. Calculate the number of reviews and the average rating of each company in each year (15pt)

In [23]:
def review_avg():
  c = conn.cursor()  
  rows = c.execute("""SELECT ReviewDate, Count(), AVG(Rating) FROM Cacao  group by  ReviewDate order by ReviewDate  DESC """).fetchall()
  rare_index = len(rows)
  i = 1
  for r in rows:
    print(f"{i}. {r[0]}, {str(r[1])},  {str(r[2])}")
    i += 1
  c.close()
  #return rows
review_avg();

1. 2017, 24,  3.3125
2. 2016, 219,  3.2260273972602738
3. 2015, 285,  3.2464912280701754
4. 2014, 247,  3.1892712550607287
5. 2013, 184,  3.1970108695652173
6. 2012, 195,  3.178205128205128
7. 2011, 165,  3.256060606060606
8. 2010, 111,  3.1486486486486487
9. 2009, 123,  3.073170731707317
10. 2008, 93,  2.9946236559139785
11. 2007, 77,  3.1623376623376624
12. 2006, 72,  3.125

In [26]:
def review_avg_by_company():
  c = conn.cursor()  
  rows = c.execute("""SELECT Company, ReviewDate, Count(), AVG(Rating) FROM Cacao  group by Company, ReviewDate order by Company, ReviewDate """).fetchall()
  rare_index = len(rows)
  i = 1
  for r in rows:
    print(f"{i}. {r[0]}, {str(r[1])},  {str(r[2])}, {r[3]}")
    i += 1
    if i == 10:
      break
  c.close()
  #return rows
review_avg_by_company();

1. A. Morin, 2012,  2, 3.625
2. A. Morin, 2013,  11, 3.3181818181818183
3. A. Morin, 2014,  5, 3.5
4. A. Morin, 2015,  4, 3.1875
5. A. Morin, 2016,  1, 3.75
6. AMMA, 2010,  4, 3.5625
7. AMMA, 2013,  1, 3.25
8. Acalli, 2015,  2, 3.75
9. Adi, 2011,  4, 3.25

# 3. Kickstarter Projects Dataset (25pt)

Using the [Kickstarter Projects Dataset](https://www.kaggle.com/kemical/kickstarter-projects#ks-projects-201801.csv), answer the following questions:

**Task 1 (for everyone):** Load the dataset to SQLite DB using [PonyORM](https://ponyorm.org) (10pt)

### <span style="color:red"> Please answer only **one** of the following questions according to your ID number (use the formula **<YOUR_ID> mod 3 +1**) </span>

In [ ]:
# which question to answer - put your ID number and run the code 
your_id  = "<fill_your_id>"
q = int(your_id) % 3 + 1
print("You need to answer question number %s" % q)

**Question 1:** On average which project category received the highest number of backers? (15 pt)

**Question 2:** On average which project category received the highest pledged USD? (15 pt)

**Question 3:** In which month occurred the highest number of projects? (15 pt)

## 4. Oscars Datasets (10pt)

Using the [Oscars Dataset](https://www.kaggle.com/theacademy/academy-awards), please answer only one of the following questions (you can chose):

**Question 1:** Who is the male actress with the most Oscar nominees? (10pt)

**Question 2:** Who is the female director with the most Oscar nominees? (10pt)

**Question 3:** Which top-10 movies received the highest number of Oscar nominees? (10pt)

**Question 4:** Write a function that receives an actor's name and returns the actor’s number of Oscar nominees. Use the function to calculate the number of times Leonardo DiCaprio was a nominee (10pt)

## 5. Select a Dataset (15pt)

**Open Question:** Select an interesting dataset and use SQL to discover something interesting (15pt). **Bonus:** Use BigQuery (2pt)